body {
    background: #edeef0;
}

.container, .row {
    height: 100vh;
}

/* .bg-white {
    background: white;
}

.page-block {
    width: 330px;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db,0 0 0 1px #e3e4e8;
} */

.logo {
    display: flex;
    margin-bottom: 1rem;
}

.logo img {
    width: 45%;
    margin: auto;
}

.alert {
    padding: .25rem .5rem;
    font-size: .75rem;
}

.card{
    border: none;
}

.list-group-header{
    text-align: center;
}

.content-separator{
    /* margin: 4px 16px; */
    /* border-top: 1px solid #dae2ea; */
    display: flex;
    margin: 4px 0;

    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: currentcolor;
    border-top-color: #dae2ea; /*rgba(0,0,0,.06);*/
    width: 100%;
    min-width: 100%;
}
.content-separator::before,
.content-separator::after {
    position: relative;
    top: 50%;
    width: 50%;
    border-top: 1px solid transparent;
        border-top-color: transparent;
    border-top-color: inherit;
    border-bottom: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    content: "";
}

.content-separator-text {
    padding: 0 1em;
}

.list-group-item {
    border: none;
}

/* Экстрамалые девайсы («телефоны», < 576px) */
@media (max-width: 575.98px) { 
}

/* Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
}

/* Средние девайсы («таблетки», < 992px) */
@media (max-width: 991.98px) {
}

/* Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {
}