<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 - Not Found</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap-4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="/css/main.css" />
</head>
<body>
<div class="container">
    <div class="row root-row align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="/img/404.png" class="card-img-top" alt="404" style="width: 18rem;">
            <div class="card-body text-center">
                <p class="card-text">Страница не найдена</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
